In [82]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, Input
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from tensorflow.keras.layers import BatchNormalization
from sklearn.preprocessing import MinMaxScaler

In [13]:
df = pd.read_csv("/home/rmfarizky/Project/deteksi_stunting/Dataset/encoded_dataset.csv")

In [14]:
features = ['j_kel', 'usia_ukur(bulan)', 'berat', 'tinggi','Z_BB/TB', 'Z_BB/U','Z_TB/U', 'Z_IMT/U']
target = ['BB/TB', 'BB/U', 'TB/U', 'IMT/U']

In [100]:
X1 = df[features[2:4]]
y1 = df[features[-1]]
X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=42)

In [101]:
df[features[-1]]

0     -0.22
1     -1.95
2     -1.05
3     -0.36
4     -0.96
       ...
619   -0.68
620   -1.06
621   -2.12
622   -1.18
623   -0.19
Name: Z_IMT/U, Length: 624, dtype: float64

In [102]:
scaler = MinMaxScaler()

In [103]:
X_train_normalized = scaler.fit_transform(X_train)
X_test_normalized = scaler.transform(X_test)

In [107]:
# Inisialisasi input layer
input_layer = Input(shape=(2,))
normalized_input = BatchNormalization()(input_layer)

# Tambahkan beberapa hidden layers
hidden_layer1 = Dense(units=64, activation='relu')(normalized_input)
hidden_layer2 = Dense(units=32, activation='relu')(hidden_layer1)

# Output layer untuk 4 Z score
output_layer = Dense(units=1, activation='linear')(hidden_layer2)

# Inisialisasi model
regression_model = Model(inputs=input_layer, outputs=output_layer)

# Kompilasi model
regression_model.compile(optimizer='adam', loss='mean_squared_error')

# Menampilkan ringkasan model
regression_model.summary()

Model: "model_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_8 (InputLayer)        [(None, 2)]               0

 batch_normalization_3 (Bat  (None, 2)                 8
 chNormalization)

 dense_22 (Dense)            (None, 64)                192

 dense_23 (Dense)            (None, 32)                2080

 dense_24 (Dense)            (None, 1)                 33

=================================================================
Total params: 2313 (9.04 KB)
Trainable params: 2309 (9.02 KB)
Non-trainable params: 4 (16.00 Byte)
_________________________________________________________________

In [108]:
# Misalkan X_train adalah data latih dan y_train adalah target
# X_train memiliki bentuk (jumlah_sampel, jumlah_fitur) dan y_train memiliki bentuk (jumlah_sampel, jumlah_output)

# Melatih model menggunakan data latih dan target
regression_model.fit(X_train_normalized, y_train, epochs=50, batch_size=32, validation_split=0.1)

Epoch 1/50

15/15 [==============================] - 1s 13ms/step - loss: 1.4517 - val_loss: 1.4372
Epoch 2/50
15/15 [==============================] - 0s 4ms/step - loss: 1.2607 - val_loss: 1.3464
Epoch 3/50
15/15 [==============================] - 0s 7ms/step - loss: 1.2746 - val_loss: 1.3448
Epoch 4/50
15/15 [==============================] - 0s 6ms/step - loss: 1.2409 - val_loss: 1.3493
Epoch 5/50
15/15 [==============================] - 0s 6ms/step - loss: 1.2425 - val_loss: 1.3234
Epoch 6/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2155 - val_loss: 1.2871
Epoch 7/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2084 - val_loss: 1.2653
Epoch 8/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1988 - val_loss: 1.2608
Epoch 9/50
15/15 [==============================] - 0s 4ms/step - loss: 1.1990 - val_loss: 1.2645
Epoch 10/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1919 - val_loss: 1.2579
Epoch 11/50
15/15 [==============================] - 0s 4ms/step - loss: 1.1963 - val_loss: 1.2543
Epoch 12/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2076 - val_loss: 1.2592
Epoch 13/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2067 - val_loss: 1.2556
Epoch 14/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2026 - val_loss: 1.2484
Epoch 15/50
15/15 [==============================] - 0s 6ms/step - loss: 1.2097 - val_loss: 1.2686
Epoch 16/50
15/15 [==============================] - 0s 7ms/step - loss: 1.2072 - val_loss: 1.2525
Epoch 17/50
15/15 [==============================] - 0s 4ms/step - loss: 1.2022 - val_loss: 1.2459
Epoch 18/50
15/15 [==============================] - 0s 7ms/step - loss: 1.2080 - val_loss: 1.2474
Epoch 19/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1907 - val_loss: 1.2452
Epoch 20/50
15/15 [==============================] - 0s 8ms/step - loss: 1.1849 - val_loss: 1.2511
Epoch 21/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1940 - val_loss: 1.2731
Epoch 22/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2110 - val_loss: 1.2736
Epoch 23/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1881 - val_loss: 1.2498
Epoch 24/50
15/15 [==============================] - 0s 6ms/step - loss: 1.2041 - val_loss: 1.2516
Epoch 25/50
15/15 [==============================] - 0s 6ms/step - loss: 1.1964 - val_loss: 1.2456
Epoch 26/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1844 - val_loss: 1.2443
Epoch 27/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1873 - val_loss: 1.2505
Epoch 28/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2116 - val_loss: 1.2488
Epoch 29/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2063 - val_loss: 1.2576
Epoch 30/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1986 - val_loss: 1.2490
Epoch 31/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1964 - val_loss: 1.2511
Epoch 32/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2100 - val_loss: 1.2578
Epoch 33/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1994 - val_loss: 1.2546
Epoch 34/50
15/15 [==============================] - 0s 10ms/step - loss: 1.2010 - val_loss: 1.2449
Epoch 35/50
15/15 [==============================] - 0s 8ms/step - loss: 1.2049 - val_loss: 1.2542
Epoch 36/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2062 - val_loss: 1.2587
Epoch 37/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1992 - val_loss: 1.2551
Epoch 38/50
15/15 [==============================] - 0s 6ms/step - loss: 1.1977 - val_loss: 1.2539
Epoch 39/50
15/15 [==============================] - 0s 6ms/step - loss: 1.1987 - val_loss: 1.2498
Epoch 40/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1881 - val_loss: 1.2448
Epoch 41/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2033 - val_loss: 1.2435
Epoch 42/50
15/15 [==============================] - 0s 7ms/step - loss: 1.1939 - val_loss: 1.2479
Epoch 43/50
15/15 [==============================] - 0s 6ms/step - loss: 1.2047 - val_loss: 1.2517
Epoch 44/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2045 - val_loss: 1.2455
Epoch 45/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1974 - val_loss: 1.2520
Epoch 46/50
15/15 [==============================] - 0s 5ms/step - loss: 1.2256 - val_loss: 1.2658
Epoch 47/50
15/15 [==============================] - 0s 4ms/step - loss: 1.1929 - val_loss: 1.2582
Epoch 48/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1930 - val_loss: 1.2490
Epoch 49/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1897 - val_loss: 1.2509
Epoch 50/50
15/15 [==============================] - 0s 5ms/step - loss: 1.1918 - val_loss: 1.2531

## Multiple Linear Regression With scikit-learn (BB/U)

In [109]:
df_BB = df[df.columns[2:3].tolist() + [df.columns[5]]]
df_BB

     berat  Z_BB/U
0     13.1    0.52
1     12.2   -1.94
2     12.6   -1.43
3     14.2   -1.42
4     13.2   -1.38
..     ...     ...
619    7.0   -1.59
620    7.6   -2.38
621    6.5   -2.69
622    6.1   -2.41
623    5.6   -1.11

[624 rows x 2 columns]

In [110]:
X = [0,1,2]
y = [0,2,4]
X, y = np.array(X), np.array(y)

In [111]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [112]:
predictions = regressor.predict(X_test)

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.2190111458734465

## Using DNN

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Make NumPy printouts easier to read.
np.set_printoptions(precision=3, suppress=True)

In [ ]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

2.13.0

In [ ]:
df_IMT

     j_kel  usia_ukur(bulan)  berat  tinggi  Z_IMT/U
0        0                58   13.1    97.5    -0.22
1        1                57   12.2    98.5    -1.95
2        1                56   12.6    95.5    -1.05
3        0                55   14.2    99.3    -0.36
4        1                53   13.2    97.0    -0.96
..     ...               ...    ...     ...      ...
619      1                 9    7.0    67.5    -0.68
620      0                 9    7.6    67.5    -1.06
621      1                 7    6.5    65.0    -2.12
622      1                 7    6.1    65.5    -1.18
623      1                 2    5.6    60.0    -0.19

[624 rows x 5 columns]

In [ ]:
train_dataset = df_IMT.sample(frac=0.8, random_state=0)
test_dataset = df_IMT.drop(train_dataset.index)

In [ ]:
train_dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
j_kel,499.0,0.547094,0.498277,0.00,0.00,1.00,1.000,1.00
usia_ukur(bulan),499.0,30.074148,16.627278,1.00,16.00,30.00,44.000,60.00
berat,499.0,10.729659,2.815249,3.20,8.75,10.50,12.700,23.60
tinggi,499.0,83.923246,12.159277,50.00,75.25,84.50,94.100,108.30
Z_IMT/U,499.0,-0.595731,1.069108,-3.55,-1.33,-0.72,-0.005,3.32

In [ ]:
train_features = train_dataset.copy()
test_features = test_dataset.copy()

train_labels = train_features.pop('Z_IMT/U')
test_labels = test_features.pop('Z_IMT/U')

In [ ]:
train_dataset.describe().transpose()[['mean', 'std']]

                       mean        std
j_kel              0.547094   0.498277
usia_ukur(bulan)  30.074148  16.627278
berat             10.729659   2.815249
tinggi            83.923246  12.159277
Z_IMT/U           -0.595731   1.069108

In [ ]:
normalizer = tf.keras.layers.Normalization(axis=-1)

In [ ]:
normalizer = layers.Normalization(input_shape=[1,], axis=None)
normalizer.adapt(train_features)

In [ ]:
def build_and_compile_model(norm):
  model = keras.Sequential([
      norm,
      layers.Dense(64, activation='relu'),
      layers.Dense(64, activation='relu'),
      layers.Dense(1)
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.001))
  return model

In [ ]:
linear_model.predict(train_features[:4])

1/1 [==============================] - 0s 29ms/step

array([[-40.591],
       [-37.864],
       [-49.303],
       [-47.033]], dtype=float32)

     j_kel  usia_ukur(bulan)  berat  tinggi
356      0                46   13.4    95.0
299      1                46   14.0    91.6
424      0                25   11.5    83.4
313      1                28    9.4    82.5